In [2]:
import pandas as pd

In [3]:
df_A = pd.read_csv('../Data/Patent data - PatentsView/assignee.tsv',sep='\t')
df_P_A = pd.read_csv('../Data/Patent data - PatentsView/patent_assignee.tsv',sep='\t')
df_P_A.columns=['patent_id','id']

C:\Users\Sverrir\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Sverrir\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df_A.iloc[:5]

,id,type,name_first,name_last,organization
0,004bvflbsd8k0pjiga6l1hdm2,2,NaN,NaN,GM Global Technology Operations LLC
1,00aw1csuxll9yyqi67qq9m91q,2,NaN,NaN,"AT&T Intellectual Property II, L.P."
2,00gkqk53hjao0mroltu3oo1qk,2,NaN,NaN,"McAfee, Inc."
3,00grlqxhvjz0l7ylc5okvvtbg,2,NaN,NaN,Sequa Corporation
4,00iquis3fn9yu6i0n8ojxex4c,2,NaN,NaN,CENTER CROSS ARCHERY LLC

In [5]:
df_P_A.iloc[:5]

  patent_id                        id
0  10000000  org_AARE0vwmqWJVw3VEQhqO
1  10000001  org_i2kI0LLqOAgrzBSs3mth
2  10000002  org_feh4oHuukdmy1w4G8EyV
3  10000003  org_qiRAUCZZjJtqwc6h76az
4  10000004  org_i7HMMn3SSFuW0jGC8dZr

In [8]:
df_merged = df_P_A.merge(df_A,how='outer',on='id')

In [13]:
df_merged.to_csv('../Data/Patent_Ownership.csv')

In [12]:
# df_merged